Service References/WebServiceUpg1Reference/WebServiceUpg1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://brokerapplication.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://brokerapplication.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt; H채mta en fils inneh책ll &lt;/b&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://brokerapplication.org/">
      <s:element name="GetFileContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filepath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFileContentSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileContent" />
  </wsdl:message>
  <wsdl:message name="GetFileContentSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileContentResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUpg1Soap">
    <wsdl:operation name="GetFileContent">
      <wsdl:input message="tns:GetFileContentSoapIn" />
      <wsdl:output message="tns:GetFileContentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUpg1Soap" type="tns:WebServiceUpg1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileContent">
      <soap:operation soapAction="http://brokerapplication.org/GetFileContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUpg1Soap12" type="tns:WebServiceUpg1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileContent">
      <soap12:operation soapAction="http://brokerapplication.org/GetFileContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUpg1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt; H채mta en fils inneh책ll &lt;/b&gt;</wsdl:documentation>
    <wsdl:port name="WebServiceUpg1Soap" binding="tns:WebServiceUpg1Soap">
      <soap:address location="http://localhost:50895/WebServiceUpg1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUpg1Soap12" binding="tns:WebServiceUpg1Soap12">
      <soap12:address location="http://localhost:50895/WebServiceUpg1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>