Service References/WebServiceUpg2Reference/WebServiceUpg2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://brokerapplication.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://brokerapplication.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt; H채mta databasens inneh책ll &lt;/b&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://brokerapplication.org/">
      <s:element name="GetObjectOwner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetObjectOwnerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjectOwnerResult" type="tns:ArrayOfObjectOwner" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfObjectOwner">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ObjectOwner" nillable="true" type="tns:ObjectOwner" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ObjectOwner">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OwnerSsnr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRealEstateBroker">
        <s:complexType />
      </s:element>
      <s:element name="GetRealEstateBrokerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRealEstateBrokerResult" type="tns:ArrayOfRealEstateBroker" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRealEstateBroker">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RealEstateBroker" nillable="true" type="tns:RealEstateBroker" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RealEstateBroker">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BrokerSsnr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BrokerAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetShowing">
        <s:complexType />
      </s:element>
      <s:element name="GetShowingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShowingResult" type="tns:ArrayOfShowing" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfShowing">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Showing" nillable="true" type="tns:Showing" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Showing">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ObjNr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BuyerSsnr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ShowingDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProspectiveBuyers">
        <s:complexType />
      </s:element>
      <s:element name="GetProspectiveBuyersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProspectiveBuyersResult" type="tns:ArrayOfProspectiveBuyer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProspectiveBuyer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProspectiveBuyer" nillable="true" type="tns:ProspectiveBuyer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProspectiveBuyer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BuyerSsnr" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRealEstateObjects">
        <s:complexType />
      </s:element>
      <s:element name="GetRealEstateObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRealEstateObjectsResult" type="tns:ArrayOfRealEstateObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRealEstateObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RealEstateObject" nillable="true" type="tns:RealEstateObject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RealEstateObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Objnr" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjCity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ObjPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ObjArea" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjRooms" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObjInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BrokerSsnr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OwnerSsnr" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetObjectOwnerSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjectOwner" />
  </wsdl:message>
  <wsdl:message name="GetObjectOwnerSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjectOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="GetRealEstateBrokerSoapIn">
    <wsdl:part name="parameters" element="tns:GetRealEstateBroker" />
  </wsdl:message>
  <wsdl:message name="GetRealEstateBrokerSoapOut">
    <wsdl:part name="parameters" element="tns:GetRealEstateBrokerResponse" />
  </wsdl:message>
  <wsdl:message name="GetShowingSoapIn">
    <wsdl:part name="parameters" element="tns:GetShowing" />
  </wsdl:message>
  <wsdl:message name="GetShowingSoapOut">
    <wsdl:part name="parameters" element="tns:GetShowingResponse" />
  </wsdl:message>
  <wsdl:message name="GetProspectiveBuyersSoapIn">
    <wsdl:part name="parameters" element="tns:GetProspectiveBuyers" />
  </wsdl:message>
  <wsdl:message name="GetProspectiveBuyersSoapOut">
    <wsdl:part name="parameters" element="tns:GetProspectiveBuyersResponse" />
  </wsdl:message>
  <wsdl:message name="GetRealEstateObjectsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRealEstateObjects" />
  </wsdl:message>
  <wsdl:message name="GetRealEstateObjectsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRealEstateObjectsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUpg2Soap">
    <wsdl:operation name="GetObjectOwner">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns ObjectOwners</wsdl:documentation>
      <wsdl:input message="tns:GetObjectOwnerSoapIn" />
      <wsdl:output message="tns:GetObjectOwnerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRealEstateBroker">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns RealEstateBroker</wsdl:documentation>
      <wsdl:input message="tns:GetRealEstateBrokerSoapIn" />
      <wsdl:output message="tns:GetRealEstateBrokerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShowing">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns Showings</wsdl:documentation>
      <wsdl:input message="tns:GetShowingSoapIn" />
      <wsdl:output message="tns:GetShowingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProspectiveBuyers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns ProspectiveBuyers</wsdl:documentation>
      <wsdl:input message="tns:GetProspectiveBuyersSoapIn" />
      <wsdl:output message="tns:GetProspectiveBuyersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRealEstateObjects">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns RealEstateObjects</wsdl:documentation>
      <wsdl:input message="tns:GetRealEstateObjectsSoapIn" />
      <wsdl:output message="tns:GetRealEstateObjectsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUpg2Soap" type="tns:WebServiceUpg2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObjectOwner">
      <soap:operation soapAction="http://brokerapplication.org/GetObjectOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRealEstateBroker">
      <soap:operation soapAction="http://brokerapplication.org/GetRealEstateBroker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowing">
      <soap:operation soapAction="http://brokerapplication.org/GetShowing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectiveBuyers">
      <soap:operation soapAction="http://brokerapplication.org/GetProspectiveBuyers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRealEstateObjects">
      <soap:operation soapAction="http://brokerapplication.org/GetRealEstateObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUpg2Soap12" type="tns:WebServiceUpg2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObjectOwner">
      <soap12:operation soapAction="http://brokerapplication.org/GetObjectOwner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRealEstateBroker">
      <soap12:operation soapAction="http://brokerapplication.org/GetRealEstateBroker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowing">
      <soap12:operation soapAction="http://brokerapplication.org/GetShowing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProspectiveBuyers">
      <soap12:operation soapAction="http://brokerapplication.org/GetProspectiveBuyers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRealEstateObjects">
      <soap12:operation soapAction="http://brokerapplication.org/GetRealEstateObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUpg2">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt; H채mta databasens inneh책ll &lt;/b&gt;</wsdl:documentation>
    <wsdl:port name="WebServiceUpg2Soap" binding="tns:WebServiceUpg2Soap">
      <soap:address location="http://localhost:50895/WebServiceUpg2.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUpg2Soap12" binding="tns:WebServiceUpg2Soap12">
      <soap12:address location="http://localhost:50895/WebServiceUpg2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>