Service References/WebServiceUpg2Reference/WebServiceUpg2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetObjectOwner">
        <s:complexType />
      </s:element>
      <s:element name="GetObjectOwnerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetObjectOwnerResult" type="tns:ArrayOfObjectOwner" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfObjectOwner">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ObjectOwner" nillable="true" type="tns:ObjectOwner" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ObjectOwner">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OwnerSsnr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetObjectOwnerSoapIn">
    <wsdl:part name="parameters" element="tns:GetObjectOwner" />
  </wsdl:message>
  <wsdl:message name="GetObjectOwnerSoapOut">
    <wsdl:part name="parameters" element="tns:GetObjectOwnerResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUpg2Soap">
    <wsdl:operation name="GetObjectOwner">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns ObjectOwners</wsdl:documentation>
      <wsdl:input message="tns:GetObjectOwnerSoapIn" />
      <wsdl:output message="tns:GetObjectOwnerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUpg2Soap" type="tns:WebServiceUpg2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObjectOwner">
      <soap:operation soapAction="http://tempuri.org/GetObjectOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUpg2Soap12" type="tns:WebServiceUpg2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetObjectOwner">
      <soap12:operation soapAction="http://tempuri.org/GetObjectOwner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUpg2">
    <wsdl:port name="WebServiceUpg2Soap" binding="tns:WebServiceUpg2Soap">
      <soap:address location="http://localhost:50895/WebServiceUpg2.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUpg2Soap12" binding="tns:WebServiceUpg2Soap12">
      <soap12:address location="http://localhost:50895/WebServiceUpg2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>